body, h1, h2, h3, h4, h5, h6, pre, li, div {
	line-height: 1.29em;
}

html {
height:100%; /* fix height to 100% for IE */
max-height:100%; /* fix height for other browsers */
padding:0; /*remove padding */
margin:0; /* remove margins */
border:0; /* remove borders */
background:#fff; /*color background - only works in IE */
font-size:80%; /*set default font size */
font-family:"trebuchet ms", tahoma, verdana, arial, sans-serif; /* set default font */
/* hide overflow:hidden from IE5/Mac */
/* \*/
overflow:hidden; /*get rid of scroll bars in IE */
/* */
}

body {
height:100%; /* fix height to 100% for IE */
max-height:100%; /* fix height for other browsers */
	background-color: white;
	margin:0 auto;
	font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans", "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	font-size:12px;
	color:black;
}

div {
	padding-top:0px;
	overflow:hidden;
}

div#header {
margin-right:25px;
background: white;	
width:100%;
display:block;
position:absolute;
/*max-width:1024px;*/
top:0px;
z-index:5;
}

div#content {
max-height:100%; 
display:block; /* set up as a block */
position:relative; /* set up relative positioning so that z-index will work */
z-index:3; /* allocate a suitable z-index */
overflow:auto;
}


div#footer {
background: white;      
margin-right:25px;
/*max-width:1024px;*/
width:100%;
display:block;
position:absolute;
left:0px;
z-index:5;
}

div#overlay {
display: none;
}

div#backgroundOverlay {
position: fixed;
left:0px;
top:0px;
background: rgb(192,192,192);
opacity: 0.5;
z-index:100;

}

div#innerOverlay {
background: rgb(255,255,255);
opacity: 1;
position: fixed;
top:100px;
left:100px;
z-index:101;
}

div#closeOverlay {
position:fixed;
}

/*Links*/
a {
	outline: none;
}

a:link {
	text-decoration:none;
	border-bottom: 1px dotted ;
	color:#3366cc;
}

a:visited {
	text-decoration:none;
	border-bottom: 1px dotted ;
	color:#003366;
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color: #336699;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: transparent;
}

h1 {
	font-size:2.0em;
}

h2 {
	font-size:1.6em;
}

h3 {
	font-size:1.3em;
	padding-top:0em;
	padding-bottom:0em;
}
h4 {
	font-size:1.1em;
	padding-top:0em;
	padding-bottom:0em;
}

h5 {
	font-size:1em;
}

h6 {
	font-size:1em;
}

/*element rules*/
hr {
	border-collapse: collapse;
	border-style:none;
	border-top: 1px dotted #ccc;
	width:100%;
	margin-top: 3em;
}

/*Lists*/
ul {
	padding-left:1.6em;


}

ul ul {
	list-style-image:url(../images/dot2.png);
	list-style-type: circle;
}

ol {
	list-style-image:none;
	list-style-type: decimal;
}

ol ol {
	list-style-type: lower-alpha;
}

dt {
	font-weight:bold;
	margin-bottom:0em;
	padding-bottom:0em;
}

dd {
	margin:0em;
	margin-left:2em;
	padding-top:0em;
	padding-bottom: 1em;
}

li {
	padding-top:0px;
	margin-top:0em;
	padding-bottom:0px;
	margin-bottom:0.4em;
}

li p, li div.para {
	padding-top:0px;
	margin-top:0em;
	padding-bottom:0px;
	margin-bottom:0.3em;
}

/*images*/
img {
	display:block;
}

/*Page Title*/
#title  {
	display:block;
	height:45px;
	padding-bottom:1em;
	margin:0em;
}

#title a.left{
	display:inline;
	border:none;
}

#title a.left img{
	border:none;
	float:left;
	margin:0em;
	margin-top:.7em;
}

#title a.right {
	padding-bottom:1em;
}

#title a.right img {
	border:none;
	float:right;
	margin:0em;
	margin-top:.7em;
}

#phprcon .rconbtn.img.rb_ok, #phprcon .rconbtn.img.rb_enable {
	background-image: url(graphics/icons/enable.png);
}
#phprcon .rconbtn.img.rb_disable {
	background-image: url(graphics/icons/disable.png);
}
#phprcon .rconbtn.img.rb_get {
	background-image: url(graphics/icons/get.png);
}
#phprcon .rconbtn.img.rb_colors {
	background-image: url(graphics/icons/colors.png);
}
#phprcon .rconbtn.img.rb_flag {
	background-image: url(graphics/icons/flag.png);
}
#phprcon .rconbtn.img.rb_settings {
	background-image: url(graphics/icons/settings.png);
}
#phprcon .rconbtn.img.rb_x, #phprcon .rconbtn.img.rbc_pb_sv_kick, #phprcon .r
conbtn.img.rbc_clientkick {
	background-image: url(graphics/icons/kick.png);
}
#phprcon .rconbtn.img.rbc_pb_sv_ban, #phprcon .rconbtn.img.rbc_banclient, #ph
prcon .rconbtn.img.rbc_tempbanclient {
	background-image: url(graphics/icons/ban.png);
}
#phprcon .rconbtn.img.rb_say {
	background-image: url(graphics/icons/say.png);
}
#phprcon .rconbtn.img.rb_tell {
	background-image: url(graphics/icons/tell.png);
}
#phprcon .rconbtn.img.rb_map, #phprcon .rconbtn.img.rb_screenshots, #phprcon 
.rconbtn.img.rbc_pb_sv_getss {
	background-image: url(graphics/icons/screenshot.png);
}
#phprcon .rconbtn.img.rb_pause {
	background-image: url(graphics/icons/pause.png);
}
#phprcon .rconbtn.img.rb_refresh {
	background-image: url(graphics/icons/refresh.png);
}
#phprcon .rconbtn.img.rb_log {
	background-image: url(graphics/icons/log.png);
}

