body			{ 
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				font-weight: normal;
				text-align: left;
				color: white;
				text-decoration: none;
				background-color: black;
				background-attachment : fixed;
				background-repeat : repeat;
				margin-left: 20pt; margin-right: 20pt;
				margin-top: 15pt; margin-bottom: 10pt;
				}
table			{
				font-size: 8pt;
				font-weight : normal;
				text-align: left;
				color: white;
				}
h1				{
				color: rgb(255,0,0);
				font-weight: bold;
				font-size: 12pt
				}
h2				{
				color: rgb(255,0,0);
				font-weight: bold;
				font-size: 9pt;
				}
pre				{
				font-size: 8pt;
				font-weight : normal;
				color: white;
				}
img				{
				text-decoration: none;
				}
a img			{ 
				text-decoration: none;
				border : none;
				}
a				{
				color : #CCCCCC;
				font-weight : bold;
				text-decoration : none;
				background-color : transparent;
				}
a:Hover			{
				background-color : transparent;
				color : white;
				}
a.title			{
				text-decoration: none;
				font-size: 8pt;
				DISPLAY: block;
				color: #CCCCCC;
				width: 100%;
				}
a.title:Hover	{
				color: white;
				}
a.none			{
				text-decoration: none;
				color : white;
				font-weight: normal;
				}
a.none:Hover	{
				text-decoration: none;
				color : white;
				font-weight: normal;
				}
a.none:Active	{
				text-decoration: none;
				color : white;
				font-weight: normal;
				}
tr.odd			{
				background-color: #150D0D;
				}
tr.even			{
				background-color: #300D0D;
				}
.module			{
				text-align : right;
				font-size: 8pt;
				font-weight : normal;
				}
.dropdown		{
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				color : white;
				background-color: black;
				border : 2px ridge;
				}
.query			{
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				color : white;
				background-color: black;
				border : 2px ridge;
				}
.button			{
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				font-weight : bold;
				}
.newsdate		{
				background-image: url("news.png");
				background-repeat: repeat-y;
				font-size: 7pt;
				border-top: 2px ridge;
				line-height: 20px;
				DISPLAY: block;
				padding-left: 8px;
				width: 130px;
				}
.newstext		{
				margin-left: 10px;
				}
form			{
				margin-top: 0px;
				margin-bottom: 0px;
				}
pre				{
				margin-top: 0px;
				margin-bottom: 0px;
				}
table.maintable	{
				background-image: url(/logo.png);
				background-repeat: no-repeat;
				}
.suggest		{
				position: absolute;
				width: 60%;
				display: block;
				overflow: auto;
				height: 300px;
				}
.suggest_inv	{
				display: none;
				}
.suggest_link	{
				color: #CCCCCC;
				background-color: #150D0D;
				padding: 2px 3px 2px 3px;
				}
.suggest_link:Hover {
				background-color: #300D0D;
				}

/*                 2008 (c) Ashus                 */
/*          All author's rights reserved.         */
/*               http://km.ashus.net              */
