body, h1, h2, h3, h4, h5, h6, pre, li, div {
	line-height: 1.29em;
}

body {
	background-color: white;
	margin:0 auto;
	font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans", "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	font-size:12px;
	max-width:100%;
	color:black;
}

div {
	padding-top:0px;
}


/*Links*/
a {
	outline: none;
}

a:link {
	text-decoration:none;
	border-bottom: 1px dotted ;
	color:#3366cc;
}

a:visited {
	text-decoration:none;
	border-bottom: 1px dotted ;
	color:#003366;
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	color: #336699;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: transparent;
}

h1 {
	font-size:2.0em;
}

h2 {
	font-size:1.6em;
}

h3 {
	font-size:1.3em;
	padding-top:0em;
	padding-bottom:0em;
}
h4 {
	font-size:1.1em;
	padding-top:0em;
	padding-bottom:0em;
}

h5 {
	font-size:1em;
}

h6 {
	font-size:1em;
}

/*element rules*/
hr {
	border-collapse: collapse;
	border-style:none;
	border-top: 1px dotted #ccc;
	width:100%;
	margin-top: 3em;
}

/*Lists*/
ul {
	padding-left:1.6em;


}

ul ul {
	list-style-image:url(../images/dot2.png);
	list-style-type: circle;
}

ol {
	list-style-image:none;
	list-style-type: decimal;
}

ol ol {
	list-style-type: lower-alpha;
}

dt {
	font-weight:bold;
	margin-bottom:0em;
	padding-bottom:0em;
}

dd {
	margin:0em;
	margin-left:2em;
	padding-top:0em;
	padding-bottom: 1em;
}

li {
	padding-top:0px;
	margin-top:0em;
	padding-bottom:0px;
	margin-bottom:0.4em;
}

li p, li div.para {
	padding-top:0px;
	margin-top:0em;
	padding-bottom:0px;
	margin-bottom:0.3em;
}

/*images*/
img {
	display:block;
	margin: 2em 0;
}

/*Page Title*/
#title  {
	display:block;
	height:45px;
	padding-bottom:1em;
	margin:0em;
}

#title a.left{
	display:inline;
	border:none;
}

#title a.left img{
	border:none;
	float:left;
	margin:0em;
	margin-top:.7em;
}

#title a.right {
	padding-bottom:1em;
}

#title a.right img {
	border:none;
	float:right;
	margin:0em;
	margin-top:.7em;
}

#phprcon .rconbtn.img.rb_ok, #phprcon .rconbtn.img.rb_enable {
	background-image: url(graphics/icons/enable.png);
}
#phprcon .rconbtn.img.rb_disable {
	background-image: url(graphics/icons/disable.png);
}
#phprcon .rconbtn.img.rb_get {
	background-image: url(graphics/icons/get.png);
}
#phprcon .rconbtn.img.rb_colors {
	background-image: url(graphics/icons/colors.png);
}
#phprcon .rconbtn.img.rb_flag {
	background-image: url(graphics/icons/flag.png);
}
#phprcon .rconbtn.img.rb_settings {
	background-image: url(graphics/icons/settings.png);
}
#phprcon .rconbtn.img.rb_x, #phprcon .rconbtn.img.rbc_pb_sv_kick, #phprcon .r
conbtn.img.rbc_clientkick {
	background-image: url(graphics/icons/kick.png);
}
#phprcon .rconbtn.img.rbc_pb_sv_ban, #phprcon .rconbtn.img.rbc_banclient, #ph
prcon .rconbtn.img.rbc_tempbanclient {
	background-image: url(graphics/icons/ban.png);
}
#phprcon .rconbtn.img.rb_say {
	background-image: url(graphics/icons/say.png);
}
#phprcon .rconbtn.img.rb_tell {
	background-image: url(graphics/icons/tell.png);
}
#phprcon .rconbtn.img.rb_map, #phprcon .rconbtn.img.rb_screenshots, #phprcon 
.rconbtn.img.rbc_pb_sv_getss {
	background-image: url(graphics/icons/screenshot.png);
}
#phprcon .rconbtn.img.rb_pause {
	background-image: url(graphics/icons/pause.png);
}
#phprcon .rconbtn.img.rb_refresh {
	background-image: url(graphics/icons/refresh.png);
}
#phprcon .rconbtn.img.rb_log {
	background-image: url(graphics/icons/log.png);
}

table			{
				font-size: 8pt;
				font-weight : normal;
				text-align: left;
				}
h1				{
				color: rgb(255,0,0);
				font-weight: bold;
				font-size: 12pt
				}
h2				{
				color: rgb(255,0,0);
				font-weight: bold;
				font-size: 9pt;
				}
pre				{
				font-size: 8pt;
				font-weight : normal;
				
				}
img				{
				text-decoration: none;
				}
a img			{ 
				text-decoration: none;
				border : none;
				}
tr.odd			{
			/*	background-color: #150D0D;*/
				}
tr.even			{
			/*	background-color: #300D0D;*/
				}
.module			{
				text-align : right;
				font-size: 8pt;
				font-weight : normal;
				}
/*.dropdown		{
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				color : white;
				background-color: black;
				border : 2px ridge;
				}
.query			{
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				color : white;
				background-color: black;
				border : 2px ridge;
				}*/
.button			{
				font-family: Verdana, Tahoma, Arial, Helvetica, 'Arial CE';
				font-size: 8pt;
				font-weight : bold;
				}
.newsdate		{
				background-image: url("news.png");
				background-repeat: repeat-y;
				font-size: 7pt;
				border-top: 2px ridge;
				line-height: 20px;
				DISPLAY: block;
				padding-left: 8px;
				width: 130px;
				}
.newstext		{
				margin-left: 10px;
				}
form			{
				margin-top: 0px;
				margin-bottom: 0px;
				}
pre				{
				margin-top: 0px;
				margin-bottom: 0px;
				}
table.maintable	{
				background-image: url(/logo.png);
				background-repeat: no-repeat;
				}
.suggest		{
				position: absolute;
				width: 60%;
				display: block;
				overflow: auto;
				height: 300px;
				}
.suggest_inv	{
				display: none;
				}
.suggest_link	{
				color: #CCCCCC;
				background-color: #150D0D;
				padding: 2px 3px 2px 3px;
				}
.suggest_link:Hover {
				background-color: #300D0D;
				}

/*                 2008 (c) Ashus                 */
/*          All author's rights reserved.         */
/*               http://km.ashus.net              */
